<section class="container separador-secciones">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="flex-fill mb-5">Hard & Soft Skills</h1>
    <button class="btn" routerLink="/nuevaskill" *ngIf="isAdmin.length > 1">
      Nueva +
    </button>
  </div>

  <div class="row">
    <article
      *ngFor="let skill of skills"
      class="col-sm-6 col-md-4 col-lg-4 d-flex flex-column align-items-center my-3"
    >
      <circle-progress
        [percent]="skill.porcentaje"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="8"
        [innerStrokeColor]="'rgba(228,30,221,0.76)'"
        [outerStrokeColor]="'rgba(17,239,247,0.50)'"
        titleColor="#e7dfdd"
        unitsColor="#e7dfdd"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="300"
        [title]="skill.nombre"
        [backgroundPadding]="10"
        [titleFontSize]="'20'"
        [responsive]="true"
      ></circle-progress>
      <div class=""></div>

      <div class="d-flex align-center justify-center">
        <i
          *ngIf="isAdmin.length > 1"
          routerLink="/editskill/{{ skill.id }}"
          class="fa-regular fa-pen-to-square mx-3 icono"
        ></i>

        <i
          *ngIf="isAdmin.length > 1"
          (click)="deleteSkill(skill.id)"
          class="fa-regular fa-trash-can mx-3 icono"
        ></i>
      </div>
    </article>
  </div>
</section>
