<div class="container" *ngIf="persona">
  <div class="row my-5">
    <form class="formulario" (ngSubmit)="update()" novalidate #f="ngForm">
      <h1 class="my-4 titulo-form">Editar datos personales</h1>
      <div class="form-group my-4">
        <label for="nombre" class="form-label label"><b>Nombre</b></label>
        <input
          class="form-control shadow-sm"
          type="text"
          name="nombre"
          id="nombre"
          [(ngModel)]="persona.nombre"
          placeholder="Ingrese nombre..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="apellido" class="form-label label"><b>Apellido</b></label>
        <input
          class="form-control shadow-sm"
          type="text"
          name="apellido"
          id="apellido"
          [(ngModel)]="persona.apellido"
          placeholder="Ingrese apellido..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="descripcion" class="form-label label"
          ><b>Descripción personal</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="descripcion"
          id="descripcion"
          [(ngModel)]="persona.descripcion"
          placeholder="Ingrese descripción..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="img" class="form-label label"><b>Imagen</b></label>
        <input
          class="form-control shadow-sm"
          type="text"
          name="img"
          id="img"
          [(ngModel)]="persona.img"
          placeholder="Ingrese URL de imagen..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="localidad" class="form-label label"
          ><b>Localidad de residencia</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="localidad"
          id="localidad"
          [(ngModel)]="persona.localidad"
          placeholder="Ingrese localidad de residencia..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="pais" class="form-label label"><b>País</b></label>
        <input
          class="form-control shadow-sm"
          type="text"
          name="pais"
          id="pais"
          [(ngModel)]="persona.pais"
          placeholder="Ingrese país de residencia..."
          required
        />
      </div>

      <button class="btn btn-primary mt-3">Actualizar datos personales</button>
    </form>
  </div>
</div>
