<nav class="d-flex justify-content-between align-items-center">
  <img src="https://i.postimg.cc/ydmMR6wT/Dise-o-sin-t-tulo-17.png" alt="" />
  <ul
    class="d-flex justify-content-center align-items-center list-nav-items mb-0"
  >
    <li>
      <a href="https://www.facebook.com/beluzita.peleadora/" target="_blank"
        ><img src="https://i.postimg.cc/SsnwZ72D/facebook.png" alt=""
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/beluzita_romero/" target="_blank"
        ><img src="https://i.postimg.cc/rFjQrRzm/instagram.png" alt=""
      /></a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/ana-bel%C3%A9n-romero-b0934821a/"
        target="_blank"
        ><img
          style="background-color: white; border-radius: 0.5rem"
          src="https://i.postimg.cc/MHHmsFcL/174857.png"
          alt=""
      /></a>
    </li>
    <li>
      <button class="btn btn-primary" (click)="login()" *ngIf="!isLogged">
        Ingresar
      </button>
      <button class="btn btn-primary" (click)="onLogOut()" *ngIf="isLogged">
        Cerrar sesión
      </button>
    </li>
  </ul>
</nav>
