<section class="container">
  <div class="row my-5">
    <form class="formulario" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <h1 class="my-4 titulo-form">Cargar nueva skill</h1>
      <div class="form-group my-4">
        <label for="nombreExp" class="form-label label"
          ><b>Nombre de skill</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="nombre"
          id="nombre"
          [(ngModel)]="nombre"
          placeholder="Ingrese skill..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="porcentaje" class="form-label label"
          ><b>Porcentaje de conocimiento</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="porcentaje"
          id="porcentaje"
          [(ngModel)]="porcentaje"
          placeholder="Ingrese un numero..."
          required
        />
      </div>
      <!-- <div class="form-group my-4">
          <label for="img" class="form-label"><b>Imagen (opcional)</b></label>
          <input
            class="form-control shadow-sm"
            type="text"
            name="img"
            id="img"
            [(ngModel)]="img"
            required
          />
        </div> -->

      <button class="btn btn-primary mt-3">Agregar skill</button>
    </form>
  </div>
</section>
