<section class="container">
  <form
    #f="ngForm"
    (ngSubmit)="onLogin()"
    class="col-lg-6 col-sm-8 m-auto mt-5 formulario"
  >
    <h1 class="titulo-form">Iniciar sesión</h1>
    <div class="mb-3">
      <label for="nombreUsuario" class="form-label label"
        >Nombre de usuario</label
      >
      <input
        type="text"
        class="form-control"
        id="nombreUsuario"
        name="nombreUsuario"
        aria-describedby="emailHelp"
        [(ngModel)]="nombreUsuario"
        placeholder="Ingrese nombre de usuario..."
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label label">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="password"
        placeholder="Ingrese contraseña..."
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </form>
</section>
