<form #f="ngForm" (ngSubmit)="onLogin()" class="col-4 m-auto mt-5">
  <div class="mb-3">
    <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
    <input
      type="text"
      class="form-control"
      id="nombreUsuario"
      name="nombreUsuario"
      aria-describedby="emailHelp"
      [(ngModel)]="nombreUsuario"
      required
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      [(ngModel)]="password"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
