table {
  color: #e7dfdd;
}

.imagen-tabla {
  background-color: white;
}

.experiencia {
  padding-bottom: 3rem;
}

.tabla-columnas {
  font-size: 1.6rem;
}

.nombre-tabla,
.tabla-descripcion {
  font-size: 1.3rem;
}

.t-borrar,
.t-editar {
  width: 20%;
}
.t-nombre,
.t-descripcion {
  width: 40%;
}
