<section class="container separador-secciones">
  <div class="experiencia">
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 2rem"
    >
      <h1 class="flex-fill titulo">Experiencias Laborales</h1>
      <button
        class="btn mt-3"
        routerLink="/nuevaexperiencia"
        *ngIf="isAdmin.length > 1"
      >
        Nueva +
      </button>
    </div>
    <div class="table-responsive-sm">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="t-nombre tabla-columnas" scope="col">Nombre</th>
            <th class="t-descripcion tabla-columnas" scope="col">
              Descripción
            </th>
            <th
              class="t-editar tabla-columnas text-end"
              *ngIf="isAdmin.length > 1"
              scope="col"
            >
              Editar
            </th>
            <th
              class="t-borrar tabla-columnas text-end"
              *ngIf="isAdmin.length > 1"
              scope="col"
            >
              Borrar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let experiencia of experiencias">
            <th style="display: flex; align-items: center">
              <img
                class="imagen-tabla"
                style="width: 3rem; margin-right: 2rem"
                [src]="experiencia.imgExp"
              />
              <h3>
                {{ experiencia.nombreExp }}
              </h3>
            </th>
            <td class="tabla-descripcion">{{ experiencia.descripcionExp }}</td>
            <td class="text-end" *ngIf="isAdmin.length > 1">
              <i
                class="fa-regular fa-pen-to-square icono"
                routerLink="/editexp/{{ experiencia.id }}"
              ></i>
            </td>
            <td class="text-end" *ngIf="isAdmin.length > 1">
              <i
                (click)="deleteExperiencia(experiencia.id)"
                class="fa-regular fa-trash-can icono"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="">
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 2rem"
    >
      <h1 class="flex-fill titulo">Educación</h1>
      <button
        class="btn btn-primary mt-3"
        routerLink="/nuevaeducacion"
        *ngIf="isAdmin.length > 1"
      >
        Nueva +
      </button>
    </div>
    <div class="table-responsive-sm">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="t-nombre tabla-columnas" scope="col">Institución</th>
            <th class="t-descripcion tabla-columnas" scope="col">
              Carrera/Curso
            </th>
            <th
              class="t-editar tabla-columnas text-end"
              *ngIf="isAdmin.length > 1"
              scope="col"
            >
              Editar
            </th>
            <th
              class="t-borrar tabla-columnas text-end"
              *ngIf="isAdmin.length > 1"
              scope="col"
            >
              Borrar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let edu of educacion">
            <th style="display: flex; align-items: center" class="nombre-tabla">
              <img
                class="imagen-tabla"
                style="width: 3rem; margin-right: 2rem"
                [src]="edu.imgEdu"
              />

              {{ edu.nombreEdu }}
            </th>
            <td class="tabla-descripcion">{{ edu.descripcionEdu }}</td>
            <td class="text-end" *ngIf="isAdmin.length > 1">
              <i
                class="fa-regular fa-pen-to-square icono"
                routerLink="/editedu/{{ edu.id }}"
              ></i>
            </td>
            <td class="text-end" *ngIf="isAdmin.length > 1">
              <i
                (click)="deleteEducacion(edu.id)"
                class="fa-regular fa-trash-can icono"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
