<section class="container m-auto seccion">
  <div class="contenido-seccion experiencia">
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 2rem"
    >
      <h1 class="flex-fill">Experiencias Laborales</h1>
      <button
        class="btn mt-3"
        routerLink="/nuevaexperiencia"
        *ngIf="isAdmin.length > 1"
      >
        Nueva +
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="tabla-columnas" scope="col">Nombre</th>
          <th class="tabla-columnas" scope="col">Descripcion</th>
          <th class="tabla-columnas" *ngIf="isAdmin.length > 1" scope="col">
            Editar
          </th>
          <th class="tabla-columnas" *ngIf="isAdmin.length > 1" scope="col">
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experiencia of experiencias">
          <td style="display: flex; align-items: center">
            <img
              class="imagen-tabla"
              style="width: 3rem; margin-right: 2rem"
              [src]="experiencia.imgExp"
            />
            <h3>
              {{ experiencia.nombreExp }}
            </h3>
          </td>
          <td class="tabla-descripcion">{{ experiencia.descripcionExp }}</td>
          <td *ngIf="isAdmin.length > 1">
            <i
              class="fa-regular fa-pen-to-square icono"
              routerLink="/editexp/{{ experiencia.id }}"
            ></i>
          </td>
          <td *ngIf="isAdmin.length > 1">
            <i
              (click)="deleteExperiencia(experiencia.id)"
              class="fa-regular fa-trash-can icono"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="contenido-seccion">
    <div
      style="display: flex; justify-content: space-between; margin-bottom: 2rem"
    >
      <h1 class="flex-fill">Educación</h1>
      <button
        class="btn btn-primary mt-3"
        routerLink="/nuevaeducacion"
        *ngIf="isAdmin.length > 1"
      >
        Nueva +
      </button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th class="tabla-columnas" scope="col">Institucion</th>
          <th class="tabla-columnas" scope="col">Carrera/Curso</th>
          <th class="tabla-columnas" *ngIf="isAdmin.length > 1" scope="col">
            Editar
          </th>
          <th class="tabla-columnas" *ngIf="isAdmin.length > 1" scope="col">
            Eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let edu of educacion">
          <td style="display: flex; align-items: center">
            <img
              class="imagen-tabla"
              style="width: 3rem; margin-right: 2rem"
              [src]="edu.imgEdu"
            />
            <h3>
              {{ edu.nombreEdu }}
            </h3>
          </td>
          <td class="tabla-descripcion">{{ edu.descripcionEdu }}</td>
          <td *ngIf="isAdmin.length > 1">
            <i
              class="fa-regular fa-pen-to-square icono"
              routerLink="/editedu/{{ edu.id }}"
            ></i>
          </td>
          <td *ngIf="isAdmin.length > 1">
            <i
              (click)="deleteEducacion(edu.id)"
              class="fa-regular fa-trash-can icono"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
