<section class="container">
  <div class="row my-5">
    <form class="formulario" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <h1 class="my-4 titulo-form">Cargar nueva experiencia laboral</h1>
      <div class="form-group my-4">
        <label for="nombreExp" class="form-label label"
          ><b>Nombre de empresa</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="nombreExp"
          id="nombreExp"
          [(ngModel)]="nombreExp"
          placeholder="Ingrese empresa..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="descripcionExp" class="form-label label"
          ><b>Descripción de puesto</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="descripcionExp"
          id="descripcionExp"
          [(ngModel)]="descripcionExp"
          placeholder="Ingrese descripción..."
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="imgExp" class="form-label label"
          ><b>Imagen (opcional)</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="imgExp"
          id="imgExp"
          [(ngModel)]="imgExp"
          placeholder="Ingrese URL de imagen..."
          required
        />
      </div>

      <button class="btn btn-primary mt-3">Agregar experiencia</button>
    </form>
  </div>
</section>
