<section class="container">
  <div class="row">
    <h2 class="my-4">Cargar nueva experiencia laboral</h2>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="form-group my-4">
        <label for="nombreExp" class="form-label"
          ><b>Nombre de empresa</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="nombreExp"
          id="nombreExp"
          [(ngModel)]="nombreExp"
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="descripcionExp" class="form-label"
          ><b>Descripcion de puesto</b></label
        >
        <input
          class="form-control shadow-sm"
          type="text"
          name="descripcionExp"
          id="descripcionExp"
          [(ngModel)]="descripcionExp"
          required
        />
      </div>
      <div class="form-group my-4">
        <label for="imgExp" class="form-label"><b>Imagen (opcional)</b></label>
        <input
          class="form-control shadow-sm"
          type="text"
          name="imgExp"
          id="imgExp"
          [(ngModel)]="imgExp"
          required
        />
      </div>

      <button class="btn btn-primary mt-3">Agregar experiencia</button>
    </form>
  </div>
</section>
