<section class="container separador-secciones">
  <div>
    <!--Data binding:  property binding para traer data de atributos como el src-->
    <!-- se usan corchetes en el atributo, comillas para el valor -->
    <img class="img-perfil" [src]="persona.img" alt="" />

    <i
      *ngIf="isAdmin.length > 1"
      routerLink="/edit-datospersonales/{{ persona.id }}"
      class="fa-regular fa-pen-to-square mx-3"
    ></i>

    <h1 class="nombre-persona">{{ persona.nombre }} {{ persona.apellido }}</h1>
    <h2>Desarrolladora Fullstack Jr</h2>
    <div class="info">
      <div>
        <p>{{ persona.localidad }}, {{ persona.pais }}</p>
      </div>
    </div>
  </div>
  <div>
    <h1 class="titulo">Acerca de</h1>
    <p>
      {{ persona.descripcion }}
    </p>
  </div>
</section>
