* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin: 10px 10px;
}

.banner {
  width: 100%;
  max-height: 60vh;
  margin: auto;
  border-radius: 0.375rem;
}
.contenido-seccion {
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.img-perfil {
  width: 10rem;
  border-radius: 5rem;
  margin-top: -5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-logo {
  display: flex;
  align-items: center;
}
